<div class="card frame">
    <div class="card-block">
        <!-- Form Name -->
        <div class="heading1">Engineer Data</div>
        <hr/>
        <p>Please carefully read all the Data. These are required for HR, Finance and other obligations</p>
        <form name="engineerForm" method="post">

            <!-- Name-->
            <div class="form-group required">
                <label class="control-label">Name</label><br/>
                <p>This has to be same as it appears in PAN</p>
                <div class="">
                    <input id="name" class="" ng-model="name" name="name" type="text" placeholder="name" autocomplete="off" required="" />
                </div>
            </div><br/>

            <!-- Hire City-->
            <div class="form-group required">
                <label class="control-label">Hire City</label><br/>
                <p>Please Enter the City you gave your interview</p>
                <div id="radio1">
                    <input type="radio" name="hireCity" ng-model="hireCity" value="Mumbai" />&#160;&#160;&#160;Mumbai<br/>
                    <input type="radio" name="hireCity" ng-model="hireCity" value="Pune" />&#160;&#160;&#160;Pune<br/>
                    <input type="radio" name="hireCity" ng-model="hireCity" value="Bangalore" />&#160;&#160;&#160;Bangalore<br/>
                    <input type="radio" name="hireCity" ng-model="hireCity" value="Hyderabad" />&#160;&#160;&#160;Hyderabad<br/>
                    <input type="radio" name="hireCity" ng-model="hireCity" value="Chennai" />&#160;&#160;&#160;Chennai<br/>
                </div>
            </div><br/>

            <!-- Originals Submitted-->
            <div class="form-group required">
                <label class="control-label">Originals Submitted</label><br/>
                <p>Please Ensure the submission of all the below mentioned certificates</p>
                <div id="radio1">
                    <input type="checkbox" name="EngineerCertificates" ng-model="EngineerCertificates" />&#160;&#160;Engineer Certificates
                    <br/>
                    <input type="checkbox" name="FinalYearMarksheet" ng-model="FinalYearMarksheet" />&#160;&#160;FinalYear Marksheet
                </div>
            </div>
            <br/>

            <div class="form-group ">
                <!-- Next-->
                <div id="next" class="col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-info" ui-sref="bankInfoForm" ng-disabled="!hireCity||engineerForm.$invalid||Loading" ng-click="next()">Next</button>
                </div>
            </div>

            <!-- loader-->
            <span class="loader col-md-12 col-sm-12 col-xs-12">
            <img ng-if="Loading" src="./assets/images/loader.gif" width="40px" height="40px" id="loaderimg" />
            </span>
        </form>
    </div>
</div>
